html, body  {
  height: 100%;
  margin: 0;
  padding: 0;
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --blackColor: #000;
  --whiteColor: #ffff;
  --greyColor:#BFBFBF;
  --greyColor200:#F0F0F0;
  --grayColor300: #e5e5e5;
  --grayColor400: #f2f2f2;
  --grayColor500: #D9D9D9;
  --primaryColor700: #183a59;
  --primaryColor: #1b4b7a;
  --primaryColor500: #2374bb;
  --primaryColor100: #73a2cc;
  --primaryColor200: #c4e0f5;
  --primaryColor300: #e0ebf5;
  --primaryColor400 :#ECF0F2;
  --grayColor100: #e9ecef;
  // --grayColor200: #e5e5e5;
  --grayColor300: #d5d5d5;
  --grayColor600: #666666;
  --grayColor700: #e8e8e8;
  --grayColor800: #bebebe;
 

}
