.button {
    background-color: transparent;
    color: var(--blackColor);
    font-weight: 500;
    margin-top: 30px;
    white-space: nowrap;
    display: inline-block;
    border-bottom: 2px solid var(--greyColor);
    padding-bottom: 5px;
    cursor: pointer;

    &:hover {
        color: var(--primaryColor);
    }
    &:disabled {
        border-color: rgb(153, 153, 153);
        color: var(--grayColor500);
        cursor: not-allowed;
    }
}