.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 20px 0;
  .searchInput {
    padding: 10px 20px 10px 45px ;
    width: 160px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
    background-image: url(../../assets/images/iconsearch.svg);
    background-color: var(--grayColor600);
    outline: none;
    transition: 0.5s all ease-in-out;
    filter: brightness(170%);
    &:focus{
      
      background-image: none;
      width: 400px;
      background-color: #ffff;
      filter: brightness(100%);
    }
    
  }
  .searchWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .suggestionsbox {
      position: absolute;
      background-color: var(--whiteColor);
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      max-height: 200px;
      overflow-y: auto;
      width: 220px;
      margin-top: 38px; 
      z-index: 99;
    }
    
    .suggestionitem {
      padding: 8px;
      cursor: pointer;
      transition: background-color 0.2s ease;
    
      &:hover {
        background-color: var(--grayColor400);
      }
    }
    .selected {
      background-color: #007bff;
      color: #fff;
    }
  }
  
}
